{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="container bg-light shadow-md p-5 form-layout" id="form-layout">

        <h3>Create Record</h3>

        <h5>Start adding in the required details for your record.</h5>

        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}

            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create Record</button>
        </form>
    </div>
</body>

{% endblock %}