{% extends 'webapp/base.html' %}


{% block content %}
    <body>
        <br>
        <br>

        <div class="text-center">
            <h3>Project.....Management at its Finest</h3>

            <br>

            <h5> Keep Track of your records effectively!</h5>

            <hr>

            <br>

            <a class="btn btn-primary" type="button" href="{% url 'register' %}">Create Your account &nbsp; <i class='fas fa-user-plus' aria-hidden="true"></i></a>

        </div>
    </body>

{% endblock %}